.services-title {
    text-align: center;
    color: #2ed573;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 30px;
}

@media only screen and (max-width:576px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }

}