.more-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 50px 20px;
}

.text {
    text-align: center;
    margin-top: 90px;
}

.image-style img {
    width: 400px;
    border-radius: 10px;
}

@media screen and (max-width: 576px) {
    .more-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}